.system-message {
  padding: 8px 12px;
  width: 52%;

  font-family: var(--main-font-lato);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  text-align: right;

  color: #201f1e;
}
