.time {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #605e5c;

  .read-icon {
    margin-left: 3px;
    img {
      width: 16px;
    }
  }
}
