.new-messages-devider {
  height: 24px;
  margin: 16px 0;
  padding: 4px 12px;
  background: rgba(64, 126, 201, 0.08);
  font-family: var(--main-font-lato);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #407ec9;
}
